@use "../variables.scss" as *;

.form-modal {
  border-radius: 5px;
  width: fit-content;
  max-width: 30rem;
  height: fit-content;
  background-color: $color-white;
  box-shadow: rgba(254, 255, 255, 0.3) 0px 4px 10px;
  padding: 4rem;
  cursor: auto;
  margin-top: 10rem;
  position: relative;

  &__wrapper {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: self-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    background-color: rgba($color-blue-petrol-dark, 0.9);
    z-index: 100;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-blue-dark;
    font-weight: bold;
    gap: 2rem;
  }

  &__button-submit {
    width: 100%;
    height: 4rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
    background-color: $color-blue-petrol;
    border-radius: 5px;
    border: 2px solid $color-blue-petrol;
    cursor: pointer;

    &:hover {
      color: $color-blue-petrol;
      background-color: $color-white;
    }
  }

  &__button-close {
    width: 20px;
    height: 20px;
    color: $color-blue-petrol-dark;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;

    &:hover {
      color: $color-red;
    }
  }
}
