/* ----------------------------------------------------------------------- SCREEN SIZES */
// $breakpointExtraSmall: 400px;
// $breakpointMedium: 768px;
// $breakpointExtraLarge: 1180px;

/* ----------------------------------------------------------------------------- COLORS */
$color-gold: #ffb700;
$color-white: #fff;
$color-green: green;
$color-red: red;
$color-red-light: #ffcccc;
$color-red-dark: darkred;
$color-loader-sector: $color-gold;
$color-gray-light: #eeeeee;
// $color-gray-medium: #9c9c9c;
$color-gray-dark: #666;
$color-blue-petrol: #055b7a;
$color-blue-petrol-dark: #042f3f;
$color-blue-dark: #05062d;
